[submodule "webapp"]
	path = webapp
	url = https://github.com/LumaLibre/webapp.git
	branch = master
[submodule "webserver"]
	path = webserver
	url = https://github.com/LumaLibre/webserver.git
	branch = master
