.contentBackground {
  position: relative;
  width: 100%;
  height: 50vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contentImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: rotate(180deg);
  object-position: bottom;
}

@media (max-width: 768px) {
  .contentBackground {
    top: 55%;
  }
  .contentImage {
    height: 100vh;
    object-fit: cover;
  }
}