@use "@/App.module" as *;

.carouselCard {
    @include cardParent;
    background: rgba(51,15,53, 0.3);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 17%;
    height: 22%;
    width: 90%;

    @media (max-width: 768px) {
        align-self: center;
        justify-content: unset;
        margin-top: 35%;
        width: 98%;
        height: 10%;
    }

}

@mixin fade {
    transition: opacity 0.4s ease, transform 0.4s ease;
    opacity: 0;
}

.fadeLeft {
    @include fade;
    transform: translateX(10%);
}

.fadeRight {
    @include fade;
    transform: translateX(-10%);
}

.fadeIn {
    transition: opacity 0.4s ease, transform 0.4s ease;
    opacity: 1;
    transform: translateX(0);
}

.carouselImageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4%;
    margin-left: 6%;
    width: 30%;

    @media (max-width: 768px) {
        margin-top: 25%;
        margin-left: 10%;
        width: 40%;
    }
}

.carouselImage {
    width: 100%;
    @media (max-width: 768px) {
        width: 90%;
    }
}

.carouselTextContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 7%;
    color: #ae93b4;
    width: 53%;
    font-size: 2vw;
    font-weight: bold;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
    transition: transform 0.3s ease;
    font-family: "Paytone One", sans-serif;

    @media (max-width: 768px) {
        margin-top: 25%;
        font-size: 3.8vw;
        margin-right: 0;
        width: 43%;
        height: 55%;
    }
}

@mixin carouselNavArrow {
    box-sizing: border-box;
    font: inherit;
    vertical-align: baseline;
    background-color: rgb(254, 238, 208);
    bottom: 50%;
    mask: url("@/assets/CarouselArrow.svg") no-repeat center / cover;
    position: absolute;
    width: 1.75rem;
    border: none;
    cursor: pointer;
    user-select: none;
    filter: drop-shadow(-3px 4px rgba(0, 0, 0, 0.15));
    height: 1.75rem;
    //position: relative;
    flex-shrink: 0;

    @media (max-width: 768px) {
        bottom: 43%;
    }
}

.leftCarouselArrow {
    @include carouselNavArrow;
    left: 2%;
}

.rightCarouselArrow {
    @include carouselNavArrow;
    transform: scaleX(-1);
    left: 95%;

    @media (max-width: 768px) {
        left: 90%;
    }
}
