@use "@/App.module.scss" as *;

.headerBackground {
    @include artBackground("@/assets/testBg2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    background-attachment: scroll;
    width: 100%;
    min-height: 200vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    //padding: 0;
    margin: 0;
    overflow: visible;
    padding-bottom: 8%;

    @media (max-width: 768px) {
        @include artBackground("@/assets/testBg2.png");
        background-size: cover;
        background-position: center;
        background-attachment: scroll;
        min-height: 100vh;
        padding-bottom: 50%;
    }
}

.logo {
    position: absolute;
    top: 9%;
    left: 75%;
    transform: translateX(-50%);
    width: 36%;
    height: auto;
    z-index: 1;
    filter: drop-shadow(0px 0px 20px rgba(215, 111, 249, 0.3));

    @media (max-width: 768px) {
        top: 4vh;
        left: 50%;
        width: 40vh;
    }
}

.titleTextContainer {
    margin-bottom: 127vh;
    margin-left: -45vw;
    text-align: start;
    width: 40%;

    @media (max-width: 768px) {
        margin-bottom: 90vh;
        margin-left: 20vw;
        margin-top: -15%;
        width: 90%;

        display:none;
    }
}

@mixin titleText {
    font-family: "Titan One", sans-serif;
    color: #d76ff9;
    font-size: 7vw;
    font-weight: bold;
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.7);

}

.welcomeText {
    @include titleText;
    white-space: nowrap;

    @media (max-width: 768px) {
        font-size: 10vw;
    }

}
.welcomeTextUnderlying {
    @include titleText;
    display: block;
    margin-left: 12vw;

    @media (max-width: 768px) {
        margin-left: 16vw;
        font-size: 10vw;
    }
}

.littleLumaIcon {
    position: absolute;
    align-self: start;
    top: 19%;
    left: 5%;
    width: 12%;
    height: auto;

    @media (max-width: 768px) {
        display: none;
    }

}

.descriptionContainer {
    position: absolute;
    top: 28%;
    margin-left: -45vw;
    //width: 100%;
    max-width: 45%;
    height: auto;
    color: #ae93b4;
    font-size: 1.8vw;
    font-weight: bold;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
    transition: transform 0.3s ease;
    font-family: "Paytone One", sans-serif;

    @media (max-width: 768px) {
        top: unset;
        margin-bottom: 29vh;
        margin-left: 0;
        align-self: end;
        margin-right: 4vw;
        max-width: 40%;
        font-size: 4vw;

        display: none;
    }
}


.miniLumaLogo {
    top: 0.4%;
    width: 10.5%;
    height: auto;
    z-index: 4;

    @media (max-width: 768px) {
        display: none;
    }
}

// TODO: Finish mixin
@mixin buttonParent {
    position: absolute !important;
    margin-right: 0;
    top: 38%;
    left: 7%;

    height: auto;
    margin-bottom: 0;

    @media (max-width: 768px) {
        margin-right: unset;
        margin-bottom: 38%;
    }
}


@mixin buttonContentParent {

    @media (max-width: 768px) {
        padding: 6px 4vw;
        font-size: 3.5vw;
        white-space: nowrap;
    }
}

.playButton {
    @include buttonParent;

    @media (max-width: 768px) {
        margin-left: -1vw;
    }

    .playButtonContent {
        @include buttonContentParent;
    }
}

// Mobile only

.playButtonIcon {
    @media (max-width: 768px) {

    }
}

.discordButtonIcon {
    @media (max-width: 768px) {

    }
}


.navbarDiscordButton {
    @media (max-width: 768px) {
        display: none;
    }
}

.discordButtonMobile {
    @include buttonParent;
    display: none;

    @media (max-width: 768px) {
        display: unset;
        margin-left: 45vw;
    }

    .discordButtonMobileContent {
        @include buttonContentParent;
    }
}

