@use '@/App.module.scss' as *;

.latestNewsContainer {
    position: absolute;
    display: flex;
    flex-direction: row;
    //justify-content: space-between;

    gap: 3%;
    align-items: center;
    align-content: center;
    bottom: 4%;
    width: 90%;
    height: 38%;

    @media (max-width: 768px) {
        width: 90%;
        bottom: 18%;
        left: 5%;
        height: 20%;
        gap: 5%;
    }

    @media (min-width: 769px) and (max-width: 1024px) {
        bottom: 3%;
        left: 5%;
        height: 55%;
    }
}



@mixin latestNewsCard {
    @include cardParent;
    position: relative;
    justify-self: flex-end;
    width: 60%;
    overflow: hidden;
    //max-width: 60%;
    //height: 60%;

    @media (max-width: 768px) {
        //gap: 30px;
        width: 90%;
        height: 100%;
    }

    &:hover {
        will-change: filter;
        filter: drop-shadow(0 0 1em rgb(114, 0, 159));
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        transform: scale(1.1) rotate(2deg);
        cursor: pointer;
    }

    &:nth-child(even):hover {
        transform: scale(1.1) rotate(-2deg);
    }
}

.leftSideCard {
    @include latestNewsCard;
}

.middleCard {
    @include latestNewsCard;
}

.rightSideCard {
    @include latestNewsCard;
    @media (max-width: 768px) {
        display: none;
    }
}


.cardImage {
    width: 100%;
    //height: 400px;
    height: 50%;
    //margin-left: 5%;
    //margin-top: 5%;
    object-fit: cover; // image fills the height while maintaining aspect ratio
    object-position: center; // center the image
    border-radius: 10px 10px 10px 10px; // Rounded corners on top
    transition: transform 0.3s ease;

    @media (max-width: 768px) {
        // zoom out of the image more on smaller screens
        //height: 200px;
    }

}

.cardContent {
    align-content: center;
    align-items: center;
    text-align: center;
    //margin-left: 4%;
    margin-top: 5%;
    img {
        border-radius: 5px;
        width: 22px;
        height: 22px;
    }

    h3 {
        color: $primary-color;
        font-family: 'Paytone One', sans-serif;
        margin-top: -0.5%;
    }

    p {
        font-family: 'Poppins', sans-serif;
        font-size: 100%;
        color: $secondary-color;
        // limit the amount of content
        overflow: hidden;
        display: -webkit-box;
        margin-top: -0.5%;
        width: 90%;
        justify-self: center;
        //text-align: left;
    }
}

.viewAllButton {
    position: absolute;
    bottom: 2.5%;

    @media (max-width: 768px) {
        left: 25%;
    }

    @media (min-width: 769px) and (max-width: 1024px) {
        left: 39%;
        bottom: 4%;
    }
}